[submodule "laravel/packages/XRA/XRA"]
	path = laravel/packages/XRA/XRA
	url = https://github.com/laraxot/package_xra.git
[submodule "laravel/packages/XRA/Extend"]
	path = laravel/packages/XRA/Extend
	url = https://github.com/laraxot/package_extend.git
[submodule "laravel/packages/XRA/Blog"]
	path = laravel/packages/XRA/Blog
	url = https://github.com/laraxot/package_blog.git
[submodule "public_html/themes/lans-see"]
	path = public_html/themes/lans-see
	url = https://github.com/laraxot/theme_land-see.git
[submodule "public_html/themes/land-see"]
	path = public_html/themes/land-see
	url = https://github.com/laraxot/theme_land-see.git
[submodule "public_html/themes/adminlte"]
	path = public_html/themes/adminlte
	url = https://github.com/laraxot/theme_adminlte.git
[submodule "laravel/packages/XRA/Backend"]
	path = laravel/packages/XRA/Backend
	url = https://github.com/laraxot/package_backend.git
[submodule "laravel/packages/XRA/Frontend"]
	path = laravel/packages/XRA/Frontend
	url = https://github.com/laraxot/package_frontend.git
[submodule "laravel/packages/XRA/LU"]
	path = laravel/packages/XRA/LU
	url = https://github.com/laraxot/package_lu.git
